<div class="w-50 mx-auto">
    <div class="">
      <h1 class="text-primary text-center">Registration Form</h1>
    </div>
    <span>{{registerForm.controls['firstName'].value}} {{registerForm.controls['lastName'].value}}</span>
    <form class="border p-4" [formGroup]="registerForm" (ngSubmit)="registration()">
      <div class="form-group">
        <label for="firstName">First Name</label>

        <input type="name" class="form-control" id="firstName" aria-describedby="firstName" placeholder="Enter first name"
          formControlName="firstName"
          name="firstName"
          [ngClass]=" {'border border-danger ' : registerForm.controls['firstName'].touched && registerForm.controls['firstName'].invalid}"
        >
        <div
        *ngIf="registerForm.controls['firstName'].touched
        && registerForm.controls['firstName'].invalid">

          <small id="firstName" class="form-text text-danger "
            *ngIf="registerForm.controls['firstName'].errors?.['required']">
              First name is required
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name </label>

        <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Enter last name"
          formControlName="lastName" name="lastName"
          [ngClass]=" {'border border-danger ' : registerForm.controls['lastName'].touched && registerForm.controls['lastName'].invalid}"
        >
        <div
        *ngIf="registerForm.controls['lastName'].touched
        && registerForm.controls['lastName'].invalid">

          <small id="nameHelp" class="form-text text-danger "
            *ngIf="registerForm.controls['lastName'].errors?.['required']">
              Last name is required
          </small>

        </div>
      </div>
      <div class="form-group">
        <label for="Email">Email address</label>

        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email"
          formControlName="email"
          name="email"
          [ngClass]=" {'border border-danger ' : registerForm.controls['email'].touched && registerForm.controls['email'].invalid}"
        >
        <div
        *ngIf="registerForm.controls['email'].touched
        && registerForm.controls['email'].invalid">

          <small id="email" class="form-text text-danger "
            *ngIf="registerForm.controls['email'].errors?.['required']">
              Email is required
          </small>

          <small id="emailHelp" class="form-text text-danger "
            *ngIf="registerForm.controls['email'].errors?.['email']">
              Invalid Email
          </small>

        </div>
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password"
          [ngClass]=" {'
          border border-danger ' :
          registerForm.controls['password'].touched &&
          registerForm.controls['password'].invalid}"
          formControlName="password"
          name="password"
        >
        <div *ngIf="
          registerForm.controls['password'].touched &&
          registerForm.controls['password'].invalid">

          <small id="registerForm.passwordHelp" class="form-text text-danger "
            *ngIf="registerForm.controls['password'].errors?.['required']">
              Please use strong password
          </small>
          
          <small id="registerForm.passwordHelp" class="form-text text-danger "
            *ngIf="registerForm.controls['password'].errors?.['isInclude']">
              password not includes first name or last name
          </small>

        </div>
      </div>
      <div class="form-group">
        <label for="Confirmed Password">Confirmed Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmed Password"
          [ngClass]=" {'
          border border-danger ' :
          registerForm.controls['confirmPassword'].touched &&
          registerForm.controls['confirmPassword'].invalid}"
          formControlName="confirmPassword"
          name="confirmPassword"
          >
          <div *ngIf="
            registerForm.controls['confirmPassword'].touched &&
            registerForm.controls['confirmPassword'].invalid">

            <small id="registerForm.passwordHelp" class="form-text text-danger "
              *ngIf="registerForm.controls['confirmPassword'].errors?.['required']">
                confirmPassword is required
            </small>

            <small id="registerForm.passwordHelp" class="form-text text-danger "
              *ngIf="registerForm.controls['confirmPassword'].errors?.['match']">
                confirmPassword is not Matched
            </small>
          </div>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
